source ~/Documents/Dev/dotfiles/intellij/helix.vim/src/helix.idea.vim

" UI
set relativenumber

" " Which key plugin
" " Install: https://plugins.jetbrains.com/plugin/15976-which-key
" " Docs: https://github.com/TheBlob42/idea-which-key?tab=readme-ov-file#installation
set which-key
set timeoutlen=10000
