/* ==UserStyle==
@name        block completely
@match       *://www.youtube.com/*
==/UserStyle== */

/* Block entire site */
body > ytd-app {
  display: none !important;
}

body::before {
  content: "Blocked via userstyles";
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
}
