/* ==UserStyle==
@name        hide watched
@match       *://www.youtube.com/*
==/UserStyle== */

/* Hide videos that have been watched */
ytd-rich-item-renderer:has(#progress[style="width: 80%;"]),
ytd-rich-item-renderer:has(#progress[style="width: 81%;"]),
ytd-rich-item-renderer:has(#progress[style="width: 82%;"]),
ytd-rich-item-renderer:has(#progress[style="width: 83%;"]),
ytd-rich-item-renderer:has(#progress[style="width: 84%;"]),
ytd-rich-item-renderer:has(#progress[style="width: 85%;"]),
ytd-rich-item-renderer:has(#progress[style="width: 86%;"]),
ytd-rich-item-renderer:has(#progress[style="width: 87%;"]),
ytd-rich-item-renderer:has(#progress[style="width: 88%;"]),
ytd-rich-item-renderer:has(#progress[style="width: 89%;"]),
ytd-rich-item-renderer:has(#progress[style="width: 90%;"]),
ytd-rich-item-renderer:has(#progress[style="width: 91%;"]),
ytd-rich-item-renderer:has(#progress[style="width: 92%;"]),
ytd-rich-item-renderer:has(#progress[style="width: 93%;"]),
ytd-rich-item-renderer:has(#progress[style="width: 94%;"]),
ytd-rich-item-renderer:has(#progress[style="width: 95%;"]),
ytd-rich-item-renderer:has(#progress[style="width: 96%;"]),
ytd-rich-item-renderer:has(#progress[style="width: 97%;"]),
ytd-rich-item-renderer:has(#progress[style="width: 98%;"]),
ytd-rich-item-renderer:has(#progress[style="width: 99%;"]),
ytd-rich-item-renderer:has(#progress[style="width: 100%;"]) {
  display: none !important;
}
