# ALIASES
## Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."

## SSH
alias ssh="TERM=xterm ssh"

## List
alias ls="exa"
alias la="exa -a"

## Vim
alias vim="nvim"
alias vi="nvim"

## Docker
alias dc="docker-compose"

## Git
alias g="git"
alias c="git smart-switch"

## Terraform
alias tf="terraform"

## Random
### Get week number
alias week='date +%V'

## Zoxide
alias j="z"