[user]
	name = Ben Bachem
	email = ***REMOVED***
	username = ***REMOVED***
[core]
	editor = vim
	askpass = git-gui--askpass
	pager = cat
[web]
	browser = google-chrome
[github]
	user = ***REMOVED***
[alias]
	ignore = update-index --skip-worktree
	unignore = update-index --no-skip-worktree
	ignored = !git ls-files -v | grep "^s"

	# Pretty log
	plog = log --graph --pretty='format:%C(red)%d%C(reset) %C(yellow)%h%C(reset) %ar %C(green)%aN%C(reset) %s'

	# Short diff
	d = diff --stat

  # Pull without checkout
  refresh = fetch origin master:master

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
