[user]
	name = Ben Bachem
	email = 10088265+bezbac@users.noreply.github.com
	username = bezbac

[github]
	user = bezbac

[core]
	editor = nvim

[alias]
	ignore = update-index --skip-worktree
	unignore = update-index --no-skip-worktree
	ignored = !git ls-files -v | grep "^s"

	# Pretty log
	plog = log --graph --pretty='format:%C(red)%d%C(reset) %C(yellow)%h%C(reset) %ar %C(green)%aN%C(reset) %s'

	# Short diff
	d = diff --stat

	# git cob <branch>
  	smart-switch = "!f() { git fetch > /dev/null 2>&1 && git switch -q --guess $1 2>/dev/null || git switch -q --guess -c $1; }; f"

[diff]
    tool = default-difftool

[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[pull]
	rebase = true
