[user]
	name = Ben Bachem
	email = 10088265+bezbac@users.noreply.github.com
	username = bezbac
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOYrXX5OLgIHoaYlDdecNWH3i4f4mkhhwl3YMSPaobck

[github]
	user = bezbac

[core]
	editor = hx

[init]
	defaultBranch = main

[alias]
	# Pretty log
	plog = log --graph --pretty='format:%C(red)%d%C(reset) %C(yellow)%h%C(reset) %ar %C(green)%aN%C(reset) %s'

	s = status

[fetch]
	prune = true

[pull]
	ff = only

[push]
	autoSetupRemote = true

[rebase]
	autosquash = true
	updateRefs = true

[rerere]
	enabled = true

[branch]
	sort = -committerdate

[commit]
	gpgsign = true

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
