"*":
  Hydrogen: {}
  "atom-beautify":
    general:
      _analyticsUserId: "3c89160e-d5c4-4625-88c0-c08008830918"
  "atom-clock":
    showTooltip: true
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "language-gfm"
      "linter"
      "linter-ui-default"
      "linter-flake8"
    ]
    telemetryConsent: "limited"
    titleBar: "custom"
  "django-templates":
    defaultToDjangoTemplatesForFilePathsContaining: [
      "mysite"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 16
    preferredLineLength: 120
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "90a71c89-f530-5d37-cba6-a69dfbcbce18"
  "linter-ui-default":
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    disablePythonDocLinks: true
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "sass-autocompile":
    compileCompressed: false
    compileExpanded: true
  "sync-settings":
    _lastBackupHash: "69e7cd235eba2a423b5365b5fefa24af74df4ee5"
    gistId: "257e1a9f8caba6436d11bc97ae4e823b"
    personalAccessToken: "dd64ba9c1d790a1da79847419910aa0e789a82be"
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "tree-view": {}
  wakatime:
    apikey: "Enter your api key..."
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
  zentabs:
    maximumOpenedTabs: 7
    neverCloseUnsaved: true
